name = "BayesianArena"
uuid = "9a958591-37c7-4438-b3c6-7968ddd9fc0d"
authors = ["Amirabbas Asadi"]
version = "0.1.0"

[compat]
julia = "1.6.7"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
